.App {
  font-size: 20px;
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #610a61;
  color: white;
  width: 100%;
  position: fixed;
}

.logo-container {
  padding-left: 50px;
}

.buttons-container ul {
  display: flex;
  justify-content: space-around;
  padding-right: 50px;
}

.buttons-container li {
  padding: 10px;
  list-style-type: none;
  text-decoration: none;
}

.about-container, .about-me {
  text-align: center;
  padding: 50px;
}

.about-me {
  margin: 0;

}

.name-span {
  text-decoration: bold;
  background-color: purple;
  color: white;
}

.footer-container {
  width: 100%;
  background-color: rgb(97, 10, 97);
}

.footer-text {
  text-align: center;
  color: white;
  padding: 15px;
}